@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title></title>

    @Html.Section("head")
    @Html.StyleSheet(Url.Content("~/ResourcePackages/Assurant/assets/dist/css/sitefinity.bootstrap.min.css"), "head")
    @Html.StyleSheet(Url.Content("~/ResourcePackages/Assurant/assets/dist/css/styles.min.css"), "head")
</head>

<body>
    @Html.Section("top")
    <header class="header slim">
        @Html.SfPlaceHolder("HeaderContent")
    </header>
    <div class="sfPublicWrapper" id="PublicWrapper">		
        @Html.SfPlaceHolder("Contentplaceholder1")		
    </div>
    <footer>
        @Html.SfPlaceHolder("FooterContent")
    </footer>
    @Html.Section("bottom")
    <script>
        $(document).ready(function () {
            $(".js-nav-fixed").fixit({
                top: 0,
                fixClass: "is-fixed",
                dummyClass: "fixed-dummy",
                classOnly: true,
                renderDummy: true
            });
        });

    </script>
</body>
</html>
